.vs/*
/Src/Application/bin/*
/Src/Application/obj/*
/Src/Domain/bin/*
/Src/Domain/obj/*
/Src/DomainModels/bin/*
/Src/DomainModels/obj/*
/Tests/Application.IntegrationTests/bin/*
/Tests/Application.IntegrationTests/obj/*
/Tests/Domain.UnitTests/bin/*
/Tests/Domain.UnitTests/obj/*
/Tests/DomainModels.UnitTests/bin/*
/Tests/DomainModels.UnitTests/obj/*
/Tests/Factories/bin/*
/Tests/Factories/obj/*
/Src/Services.UnitTests/bin/*
/Src/Services.UnitTests/obj/*
/Src/Services/bin/*
/Src/Services/obj/*
/Src/DomainModels/bin/*
/Src/DomainModels/obj/*
/Tests/Services.UnitTests/*
/Tests/Services.UnitTests/*